$colors: (
    'black': #231F20,
    'black-100': #000,
    'white': #FFFFFF,
    'grey-100': #EBEBEB,
    'grey-200': #DFDCD6,
    'grey-300': #54575a,
    'blue-100': #407BFF,
    'blue-200': #3576D7,
    'yellow-100': #edbc13,
    'red-100': #c31112,
    'highlight': #FFC45A,
    'error': #ED1C24,
);


@function hex-to-rgb ($hex) {
    @return red($hex), green($hex), blue($hex);
}

:root {
    @each $key, $value in $colors {
        --color-#{$key}--rgb: #{hex-to-rgb($value)};
        --color-#{$key}: #{$value};
    }
}

html {
    background-color: var(--color-white);
    color: var(--color-black);
}
