$font-family: 'Ubuntu', sans-serif;
$font-family-title: 'Gabriela', serif;
$font-family-subtitle: 'Montserrat Alternates', sans-serif;
$font-family-back: 'Allerta Stencil', sans-serif;
// $font-family-baggy-main: 'DINNextW01-CondensedRegular', sans-serif;
// $font-family-baggy-title: 'UnitedSansReg-Heavy', sans-serif;
// $font-family-baggy-title-bold: 'UnitedSansReg-Bold', sans-serif;
$font-family-baggy-main: 'Ubuntu', sans-serif;;
$font-family-baggy-title: 'Ubuntu', serif;
$font-family-baggy-title-bold: 'Ubuntu', sans-serif;